        {% load staticfiles i18n %}
        <link href="{% static 'css/app_1.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/app_2.min.css' %}" rel="stylesheet">
        <style>
        .s-profile > a {
                  display: block;
                  height: 129px;
                  margin-bottom: 5px;
                  width: 100%;
                  background: url('{% static 'images/profile-menu.png' %}') no-repeat left top;
                  background-size: 100%;
        }
        </style>
